.carouselImage1 {
    background-image: url("IMG_1800.JPG") !important;
}

.carouselImage2 {
    background-image: url("IMG_1849.JPG") !important;
    background-size: cover;
    background-position: left;
}

.carouselImage3 {
    background-image: url("IMG_2299.JPG") !important;
    background-size: cover;
    background-position: left;
    /* девушки слева */
}
.bigLogo{
    width: 27%;
    height: 27%;
    -webkit-transition-property: width, height;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
    transition-duration: 2s;
}

.welcome {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
