@font-face {
    font-family: "Stroke";
    src: url('../../fonts/11872.otf');
}

.carouselFix {
    height: 50vh !important;
}

.flavorHeader {
    font-family: 'Stroke', sans-serif !important;
    color: white;
    font-size: 50px;
    position: relative;
    top: 27%;
}

.flavorText{
    position: relative;
    top:43%;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

@media screen and (max-width: 500px){
    .flavorHeader {
        font-family: 'Stroke', sans-serif !important;
        color: white;
        font-size: 40px;
        position: relative;
        top: 23%;
    }
    
    .flavorText{
        position: relative;
        top:40%;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.carouselItem {
    height:100%;
}
