.vk {
    color: white;
    display: inline;
}

.youtube {
    display: inline;
    color: white;
}

.instagram {
    display: inline;
    color: white;
}

#contact li {
    display: inline-block;
}

.center-xs {
    text-align: center;
}